<div class="Terminal">
  <div class="TerminalHeader">
    <div class="TerminalHeaderBar">
      <div class="TerminalHeaderBarClose">
        <fa-icon [icon]="faTimes"></fa-icon>
      </div>
      <div class="TerminalHeaderBarTitle">root /tmp</div>
      <div class="TerminalHeaderBarMax">
        <fa-icon [icon]="faExpandAlt"></fa-icon>
      </div>
    </div>
    <div class="TerminalHeaderMenu">
      <div class="TerminalHeaderMenuElement">Archivo</div>
      <div class="TerminalHeaderMenuElement">Editar</div>
      <div class="TerminalHeaderMenuElement">Ver</div>
      <div class="TerminalHeaderMenuElement">Buscar</div>
      <div class="TerminalHeaderMenuElement">Terminal</div>
      <div class="TerminalHeaderMenuElement">Ayuda</div>
    </div>
  </div>
  <div class="TerminalContent">
    <textarea></textarea>
  </div>
</div>
